<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>MDP Constructor</title>
</head>
<body>
    <div class="presentation">

        <h1>L'importance d'un mot de passe sécurisé </h1>
        <p>Messageries, réseaux sociaux, banques, administrations et commerces en ligne, 
            réseaux … la sécurité tous ces services du 
            dépend aujourd'hui essentiellement des mots de passe. Bien qu'il est plus simple d'utiliser un mot de passe
            simple et de l'utiliser pour plusieurs usages différents, cette méthode est dangereuse 
            car elle augmente les risques de piratage/vol de données...
            Ainsi il est recommandé d'avoir un mot de passe fort, complexe et qui n'a aucun lien avec des informations
            personnelles</p>
    
        <a href="/generator">Ici un générateur de mot de passe</a>
    </div>
    
</body>
</html>

<!--Page de presentation sur l'importance de la securité d'un
    mot de passe et sur les critères de complexité
    Et ensuite un bouton qui redirige vers la page du generateur-->